{% extends 'blog/navbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    h1{
    text-shadow: -3px -3px 6px #00000060;
    font-weight: 600;
    }
</style>
{% if search_form %}
    <div class="content-section make_grey">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                {{search_form|crispy}}
            </fieldset>
            
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
    </div>
{% endif %}
<h1 class='my-4' style="text-align: center;">Desired Hospitals</h1>
    {% if posts %}
<div  class="container">

        {% for post in posts reversed %}
            <!-- <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                    <a class="mr-2" href="{% url 'blog-home'  %}">{{ post.author }}</a>
                    <a class="mr-2" href="{% url 'blog-home'  %}">- {{ post.covid_cap }}</a>
                    <a class="mr-2" href="{% url 'blog-home'  %}">- {{ post.norm_cap }}</a>
                    
                </div>
            </article> -->
            <div class=" item service-item">
                <div class="icon">
                    <h1 style="font-weight: 700; padding-top: 15px;">{{ post.covid_cap }}</h1>
                    <p style="font-weight: 700; color: #000;">Beds</p>
                </div>
                <h5 class="service-title"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.name }}</a></h5>
                <!-- <p>{{ post.content }}</p> -->
                <a href="{% url 'post-detail' post.id %}" class="main-button">Book a Bed</a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h2>No Hospitals available in this category yet</h2>
    {% endif %}
{% endblock content%}