{% extends "blog/navbase_without.html" %} {% block content %}
<style>
  .embed-container {
    position: relative;
    padding-bottom: 80%;
    height: 0;
    max-width: 100%;
    justify-content: center;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
  }
  small {
    position: absolute;
    z-index: 40;
    bottom: 0;
    margin-bottom: -15px;
  }
  
</style>

<h1>Global COVID Data</h1>

<div class="embed-container col-lg-12">
  <iframe
    width="500"
    height="400"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    title="COVID-19"
    src="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
  ></iframe>
</div>

{% endblock %}
