{% extends "blog/navbase.html" %}
{% load crispy_forms_tags %}
<style>
    .item .service-item{
    margin-top: 5px !important;
  }
  .make_grey{
    background-color: #131313  !important;
    }
    .content-section.make_grey {
        background-color: #131313  !important;
}
h3 {
    color: rgb(204, 204, 204) !important;
}
a.mr-2.active {
  color: white !important;
}
</style>
{% block content %}

{% if search_form %}
    <div class="content-section make_grey">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                {{search_form|crispy}}
            </fieldset>
            
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
    </div>
{% endif %}

<div class="col-md-12" style="display: grid; grid-template-columns: auto auto;"  class="container">
    {% for post in post_list %}
        <div class=" item service-item">
            <div class="icon">
                <h1 style="font-weight: 700; padding-top: 15px;">{{ post.covid_cap }}</h1>
                <p style="font-weight: 700; color: #000;">Beds</p>
            </div>
            <h5 class="service-title"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.name }}</a></h5>
            <!-- <p>{{ post.content }}</p> -->
            <a href="{% url 'post-detail' post.id %}" class="main-button">Book a Bed</a>
        </div>
    {% endfor %}
</div>
<!-- <iframe style="width: 1000px; height: 500px;" src="https://maps.mapmyindia.com/corona" ></iframe> -->
<!-- <img src="./media/barchart.png" /> -->
    
{% endblock content %}