{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3' key="2de8d293-c16d-42e5-ab6e-28caf5b424e7" ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../../static/blog/css/nav.css">
        <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <title>COVID Saathi</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="../../static/blog/images/perfil.jpg" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                  <a href="/" class="nav__logo">
                    <i class="bx bx-layer nav__logo-icon"></i>
                    <span class="nav__logo-name">COVID Saathi</span>
                  </a>
        
                  <div class="nav__list">
                    
                    <a href="{% url 'blog-home' %}" class="nav__link active">
                      <i class="bx bx-user nav__icon"></i>
                      <span class="nav__name">All Listings</span>
                    </a>
                    {% if user.is_authenticated %}
        
                    <a href="{% url 'dash-view' %}" class="nav__link ">
                        <i class="bx bx-grid-alt nav__icon"></i>
                        <span class="nav__name">Dashboard</span>
                      </a>
        
                    <a href="{% url 'post-create' %}" class="nav__link">
                      <i class="bx bx-message-square-detail nav__icon"></i>
                      <span class="nav__name">Hospital Profile</span>
                    </a>
        
                    <!-- <a href="#" class="nav__link">
                      <i class="bx bx-bookmark nav__icon"></i>
                      <span class="nav__name">Favorites</span>
                    </a>
        
                    <a href="#" class="nav__link">
                      <i class="bx bx-folder nav__icon"></i>
                      <span class="nav__name">Data</span>
                    </a>
        
                    <a href="#" class="nav__link">
                      <i class="bx bx-bar-chart-alt-2 nav__icon"></i>
                      <span class="nav__name">Analytics</span>
                    </a> -->
                  </div>
                </div>
        
                <a href="{% url 'logout' %}" class="nav__link">
                  <i class="bx bx-log-out nav__icon"></i>
                  <span class="nav__name">Log Out</span>
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="nav__link">
                    <i class="bx bx-log-in nav__icon"></i>
                    <span class="nav__name">Log In</span>
                </a>
                <a href="{% url 'register' %}" class="nav__link">
                    <i class="bx bx-user-plus nav__icon"></i>
                    <span class="nav__name">Register</span>
                </a>
                {% endif %}
        
              </nav>
        </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        <!--===== MAIN JS =====-->
        <script src="../../static/blog/js/nav.js"></script>
        {% block jquery %}{% endblock %}
    </body>
</html>