{% extends 'blog/navbase_without.html' %} {% load crispy_forms_tags %} {% block content %}
<style>
  button.btn.btn-outline-info {
    background-color: rgb(63, 171, 243);
    font-weight: 600;
    transition: 0.5s;
  }
  button.btn.btn-outline-info:hover {
    background-color: rgb(255, 204, 95);
    color: black;
  }
  h2.article-title {
    text-align: center;
    font-weight: 800;
    color: blue;
}
p.article-content {
    font-weight: 700;
    margin: 0;
}
img {
    margin-bottom: 20px;
}
fieldset.form-group {
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
    background: rgb(177, 177, 248);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;

}
button.btn.btn-outline-info {
    border-radius: 20px;
    padding: 10px 20px;
    background: rgb(85, 85, 219);
    width: 30%;
    color: #fff;
    margin-left: 35%;
}
button.btn.btn-outline-info:hover {
    background: rgb(255, 204, 95);
    color: #000;
}
.img-container {
    width: 620px;
    margin: 0 auto;
}
p.article-content {
    text-align: center;
    font-size: 20px;
}
</style>
<article class="media content-section">
  <img src="{{ post.author.profile.image.url }}" />
  <div class="media-body">
    <div class="article-metadata">
      <!-- <a style="text-align: center;" class="mr-2" href="#">{{ post.author }}</a> -->
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      {% if post.author == user %}
      <div>
        <a
          class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{% url 'post-update' post.id %}"
          >Update</a
        >
        <a
          class="btn btn-danger btn-sm mt-1 mb-1"
          href="{% url 'post-delete' post.id %}"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.name }}</h2>
    <!-- <h4>Donor's Info</h4> -->

    <div class="img-container">
    <img src="{{ post.img1.url }}" style="width: 200px; height: 200px" />
    <img src="{{ post.img2.url }}" style="width: 200px; height: 200px" />
    <img src="{{ post.img3.url }}" style="width: 200px; height: 200px" />
  </div>
  
  <p style="font-size: 15px; font-weight: 600; margin-bottom: 20px;" class="article-content">{{ post.content }}</p>


    <div class="details">
    <p class="article-content">Type: {{ post.type }}</p>
    <p class="article-content">Covid Beds: {{ post.covid_cap }}</p>
    <p class="article-content">Normal Beds: {{ post.norm_cap }}</p>
    <p class="article-content">Area: {{ post.area }}</p>
    <p class="article-content">City: {{ post.city }}</p>
  </div>
    {%if not user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">{{ form|crispy }}</fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Book a Bed</button>
      </div>
    </form>
    {% endif %}
  </div>
</article>
{% endblock %}
