{% extends 'blog/navbase_without.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    button.btn.btn-outline-info {
      background-color: rgb(63, 171, 243);
      font-weight: 600;
  }
  button.btn.btn-outline-info:hover {
      background-color: rgb(255, 204, 95);
      color: black;
  }
  .content-section {
    width: 40%;
    margin-left: 30%;
    background-color: rgb(177, 177, 248);
    padding: 15px;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 20px;
}
legend.border-bottom.mb-4 {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
label.requiredField {
    color: #000;
}
small.text-muted {
    color: #000 !important;
}
button.btn.btn-outline-info {
    border-radius: 20px;
    padding: 10px 20px;
    background: rgb(85, 85, 219);
    width: 30%;
    color: #fff;
    margin-left: 35%;
}
button.btn.btn-outline-info:hover {
    background: rgb(255, 204, 95);
    color: #000;

}
a.ml-2 {
    color: rgb(111, 0, 255);
    font-weight: 700;
}
  </style>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class = "border-top pt-3">
                <small class="text-muted"> Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign up here</a></small>
            </div>
        </div>
{% endblock content%}